<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
           
         
        </ul>
        <ul class="main-header__item-list">
           
        </ul>
    </nav>
</header>