<%- include('includes/header.ejs') %>
</head>
<body>
   <%- include('includes/navigation.ejs') %>
    <main>
      



			
		
    </main>
	
	<script src="/js/index.js"></script>
<%- include('includes/footer.ejs') %>