<%- include('includes/header.ejs') %>
</head>
<body>
   <%- include('includes/navigation.ejs') %>
    <main>
      <div class="centered">
        <h2>Welcome to node js scrap project</h2>
        <a href="/trucklist">Click To see the Scrap truck item</a>
      </div>
    </main>
	
	<script src="/js/index.js"></script>
<%- include('includes/footer.ejs') %>